@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-container">
    <p>
        Witamy na stronie Polityki Prywatności GymTracker. Zobowiązujemy się do ochrony Twoich danych osobowych i prawa do prywatności.
    </p>

    <h2>1. Informacje, które zbieramy</h2>
    <p>
        Zbieramy dane osobowe, które dobrowolnie nam podajesz podczas rejestracji w usługach, wyrażając zainteresowanie uzyskaniem informacji o nas lub naszych produktach i usługach, biorąc udział w działaniach na usługach lub w inny sposób kontaktując się z nami.
    </p>

    <h2>2. Jak wykorzystujemy Twoje informacje</h2>
    <p>
        Wykorzystujemy dane osobowe zbierane za pośrednictwem naszych usług do różnych celów biznesowych opisanych poniżej. Przetwarzamy Twoje dane osobowe w oparciu o nasze uzasadnione interesy biznesowe.
    </p>

    <h2>3. Udostępnianie Twoich informacji</h2>
    <p>
        Możemy udostępniać Twoje dane osobowe wybranym osobom trzecim, jeśli jest to konieczne do realizacji naszych usług lub gdy wymagają tego przepisy prawa.
    </p>

    <h2>4. Bezpieczeństwo Twoich informacji</h2>
    <p>
        Podejmujemy odpowiednie środki techniczne i organizacyjne, aby chronić Twoje dane osobowe przed nieautoryzowanym dostępem, utratą, zniszczeniem lub zmianą.
    </p>

    <h2>5. Twoje prawa</h2>
    <p>
        Masz prawo do dostępu, poprawiania i usuwania swoich danych osobowych, a także do wyrażenia sprzeciwu wobec ich przetwarzania.
    </p>

    <h2>6. Kontakt</h2>
    <p>
        Jeśli masz pytania dotyczące naszej polityki prywatności, skontaktuj się z nami pod adresem: privacy@gymtracker.com.
    </p>
</div>

<style>
    .privacy-container {
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
