@{
    ViewData["Title"] = "Forma na lato";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mb-4">
            <img src="~/lato.jpg" class="img-fluid" alt="Opis zdjęcia 1">
        </div>

        <div class="col-md-6">
            <div class="bg-white p-4">
                <h3>Forma na lato</h3>
                <p>
                    Plan treningowy "Forma na lato" to kompleksowe podejście do poprawy kondycji fizycznej i zdrowia, stworzone specjalnie dla Ciebie przez doświadczonych trenerów personalnych.
                    Nasz plan obejmuje:
                </p>
                <ul>
                    <li><b>Personalizację i indywidualne podejście:</b> Każdy plan treningowy jest dostosowany do Twoich celów i kondycji fizycznej. Po pierwszej konsultacji z trenerem personalnym otrzymasz spersonalizowany program, który będzie dostosowany do Twoich potrzeb i możliwości.</li>
                    <li><b>Zróżnicowane ćwiczenia:</b> W naszym planie znajdziesz różnorodne ćwiczenia, które obejmują trening siłowy, cardio oraz elementy poprawiające elastyczność i mobilność. Dzięki temu nie tylko wzmocnisz mięśnie, ale także poprawisz ogólną kondycję i zdrowie.</li>
                    <li><b>Dieta i planowanie posiłków:</b> Współpraca z naszymi dietetykami pomoże Ci stworzyć zbilansowany plan żywieniowy, który wspiera Twoje cele treningowe i zapewnia odpowiednią ilość energii.</li>
                    <li><b>Monitorowanie postępów:</b> Regularne oceny postępów i dostosowywanie planu treningowego w miarę potrzeb, aby zapewnić Ci maksymalne efekty w jak najkrótszym czasie.</li>
                </ul>

                <h4>Czas trwania i częstotliwość treningów:</h4>
                <p>Czas trwania planu treningowego jest uzależniony od Twoich celów i aktualnej kondycji fizycznej. Treningi mogą odbywać się od <b>3 do 5 razy w tygodniu</b>, a ich czas trwania wynosi zazwyczaj <b>od 45 minut do godziny</b>, w zależności od intensywności i rodzaju treningu.</p>

                <div class="text-center mt-3">
                    <a href="#" class="btn btn-lavender">Skontaktuj się z nami</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="bg-white p-4 rounded shadow-sm">
                <h4 class="mb-3">Przykładowy Cennik</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ilość dni ćwiczeń</th>
                            <th scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3 razy w tygodniu</td>
                            <td>139 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>4 razy w tygodniu</td>
                            <td>159 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>5 razy w tygodniu</td>
                            <td>189 zł/miesiąc</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted">Uwaga! Cena może ulec zmianie zgodnie z personalizacją ćwiczeń.</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lavender mt-3">Wróć do strony głównej</a>
        </div>
    </div>
</div>
