@{
    ViewData["Title"] = "Ćwiczenia w domu dla niej";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mb-4">
            <img src="~/cwiczeniadom-k.jpg" class="img-fluid" alt="Opis zdjęcia 1">
        </div>

        <div class="col-md-6">
            <div class="bg-white p-4">
                <h3>Ćwiczenia w domu dla niej</h3>
                <p>
                    Program "Ćwiczenia w domu dla niej" został stworzony, aby pomóc kobietom osiągnąć swoje cele fitness bez wychodzenia z domu, z wykorzystaniem minimalnego sprzętu.
                    Nasz program obejmuje:
                </p>
                <ul>
                    <li><b>Personalizowane ćwiczenia:</b> Indywidualnie dostosowane zestawy ćwiczeń, które pomagają wzmocnić mięśnie, poprawić wytrzymałość i spalić kalorie.</li>
                    <li><b>Zróżnicowane treningi:</b> Program obejmuje różnorodne formy aktywności, w tym treningi siłowe, cardio oraz ćwiczenia na poprawę elastyczności i mobilności.</li>
                    <li><b>Dieta i planowanie posiłków:</b> Współpraca z naszymi dietetykami pomoże Ci opracować zdrowy plan żywieniowy, który wspiera Twoje cele treningowe i zapewnia odpowiednią ilość energii.</li>
                    <li><b>Monitorowanie postępów:</b> Regularne oceny postępów i dostosowywanie programu treningowego, aby zapewnić maksymalne efekty w jak najkrótszym czasie.</li>
                </ul>

                <h4>Czas trwania i częstotliwość treningów:</h4>
                <p>Program "Ćwiczenia w domu dla niej" może być realizowany od <b>3 do 5 razy w tygodniu</b>, w zależności od indywidualnych potrzeb. Każda sesja trwa <b>od 30 do 60 minut</b>, w zależności od wybranego zestawu ćwiczeń.</p>

                <div class="text-center mt-3">
                    <a href="#" class="btn btn-lavender">Skontaktuj się z nami</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="bg-white p-4 rounded shadow-sm">
                <h4 class="mb-3">Przykładowy Cennik</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ilość dni ćwiczeń</th>
                            <th scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>3 razy w tygodniu</td>
                            <td>119 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>4 razy w tygodniu</td>
                            <td>149 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>5 razy w tygodniu</td>
                            <td>179 zł/miesiąc</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted">Uwaga! Cena może ulec zmianie zgodnie z personalizacją ćwiczeń.</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lavender mt-3">Wróć do strony głównej</a>
        </div>
    </div>
</div>
