@{
    ViewData["Title"] = "Dla pracujących przed komputerem";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center mb-4">
            <img src="~/informatyk.jpg" class="img-fluid" alt="Opis zdjęcia 1">
        </div>

        <div class="col-md-6">
            <div class="bg-white p-4">
                <h3>Dla pracujących przed komputerem</h3>
                <p>
                    Program "Dla pracujących przed komputerem" został stworzony, aby pomóc osobom spędzającym wiele godzin przy biurku poprawić swoją postawę, zmniejszyć dolegliwości bólowe i zwiększyć ogólną kondycję fizyczną.
                    Nasz program obejmuje:
                </p>
                <ul>
                    <li><b>Personalizowane ćwiczenia:</b> Indywidualnie dostosowane ćwiczenia, które pomogą wzmocnić mięśnie pleców, szyi i ramion, redukując dolegliwości związane z długotrwałym siedzeniem.</li>
                    <li><b>Ćwiczenia rozciągające:</b> Program zawiera zestawy ćwiczeń rozciągających, które poprawiają elastyczność i mobilność, pomagając zapobiegać urazom i przeciążeniom.</li>
                    <li><b>Trening relaksacyjny:</b> Techniki relaksacyjne i ćwiczenia oddechowe, które pomogą w redukcji stresu i poprawie samopoczucia.</li>
                    <li><b>Porady ergonomiczne:</b> Wskazówki dotyczące ergonomii miejsca pracy, aby zminimalizować negatywny wpływ długotrwałego siedzenia na zdrowie.</li>
                </ul>

                <h4>Czas trwania i częstotliwość treningów:</h4>
                <p>Program "Dla pracujących przed komputerem" może być realizowany od <b>2 do 4 razy w tygodniu</b>, w zależności od indywidualnych potrzeb. Każda sesja trwa <b>od 30 do 60 minut</b>, w zależności od wybranego zestawu ćwiczeń.</p>

                <div class="text-center mt-3">
                    <a href="#" class="btn btn-lavender">Skontaktuj się z nami</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="bg-white p-4 rounded shadow-sm">
                <h4 class="mb-3">Przykładowy Cennik</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Ilość dni ćwiczeń</th>
                            <th scope="col">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2 razy w tygodniu</td>
                            <td>99 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>3 razy w tygodniu</td>
                            <td>129 zł/miesiąc</td>
                        </tr>
                        <tr>
                            <td>4 razy w tygodniu</td>
                            <td>159 zł/miesiąc</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-muted">Uwaga! Cena może ulec zmianie zgodnie z personalizacją ćwiczeń.</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a href="@Url.Action("Index", "Home")" class="btn btn-lavender mt-3">Wróć do strony głównej</a>
        </div>
    </div>
</div>
